.contain{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img{
	height: 270px;
	width: 480px;
	margin:5px;
	transition: all 1s;

}
img:hover{
	transform: scale(0.9);
}
h4{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 2em;
    color: #838282;
	border-bottom: 1px solid #b9b9b9;

	
}
h4:hover{
	text-shadow: 2px 2px 3px #888888;
}