.start {
  padding-top: 10%;
}
img {
  height: 135px;
  width: 238px;
  margin: 5px;
}
h4 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  color: #838282;
  border-bottom: 1px solid #b9b9b9;
}
h4:hover {
  text-shadow: 2px 2px 3px #888888;
}

.wrapper {
  //display: grid;
  //grid-template-columns: repeat(2, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}
.wrapper section .items {
  width: 200%;
  position: relative;
  //display: grid;
  //grid-template-columns: repeat(6, auto);
  margin: 20px 0;
}
.wrapper section .item {
  display: inline-block;
  padding: 0 2px;
  transition: 250ms all;
}
.wrapper section .item:hover {
  margin: 0 20px;
  transform: scale(1.2);
}

.wrapper section button {
  position: absolute;
  color: whitesmoke;
  font-size: 6em;
  width: 30px;
}
.left {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, transparent, black);
  border: none;
}

.right {
  top: 0;
  bottom: 0;
  right: 0px;
  background: linear-gradient(90deg, transparent, black);
  border: none;
}
