<div class="container"  style="padding-top: 10%;">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="text-center pb-25">
                <h4>EVENTS</h4>
            </div> 
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4" style="padding-top: 3%;">
        <div class="col">
          <div class="card">
              <div class="card-header bg-secondary">
                <h5 class="card-title bg-white">Join Event</h5>
              </div>
            <div class="card-body">
               <div class="row justify-content-center">
                   <img src="../../../assets/static/images/calendar2-check-fill.svg"/> 
                </div>
                
              <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem odio aut ratione, impedit laborum eligendi quaerat itaque, necessitatibus illum, explicabo aspernatur expedita neque?
              </p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="card-title bg-white">Add Event</h5>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <img src="../../../assets/static/images/calendar2-check-fill.svg"/> 
                     </div>
                    
                <p class="card-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem odio aut ratione, impedit laborum eligendi quaerat itaque, necessitatibus illum, explicabo aspernatur expedita neque?
                </p>
                </div>
            </div>
          </div>
      </div>

</div>
