<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <img src="../../../assets/static/images/logo.png" routerLink="/" />
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a routerLink="/home"  class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/view" class="nav-link">View Events</a>
            </li>
            <li class="nav-item">
                <a routerLink="/add"  class="nav-link">Add Event</a>
            </li>
        </ul>
    </nav>
</header>
<div class="content">
    <router-outlet> </router-outlet>
</div>

<footer class="bg-dark text-center text-white mt-5">
    <div>
        Designed and Developed by
        <a class="text-white" href="https://www.axiomio.com/">AxiomIO.com</a>
      </div>
</footer>