<!-- <div>
    <ul class="nav nav-tabs nav-stacked">
        <li class="nav-item" style="padding-top:7px; padding-right: 10px; font-size:larger;">
            <a routerLink="/user" style="color: black; text-decoration: none;padding-left: 10px;">Axiom<b>IO</b></a>
            <img src="../../../assets/static/images/axiom.png" routerLink="/user" />
        </li>
        <li class="nav-item">
            <a routerLink="/user/home"  class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/user/view" class="nav-link">View Events</a>
        </li>
        <li class="nav-item">
            <a routerLink="/user/add"  class="nav-link">Add Event</a>
        </li>
    </ul>
</div> -->
<div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <img src="../../../assets/static/images/logo.png" routerLink="/user" />
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a routerLink="/user/home"  class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/user/view" class="nav-link">View Events</a>
            </li>
            <li class="nav-item">
                <a routerLink="/user/add"  class="nav-link">Add Event</a>
            </li>
        </ul>
    </nav>
</div>
<router-outlet> </router-outlet>
<footer class="bg-dark text-center text-white text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0);">
        Designed and Developed by
        <a class="text-white" href="https://www.axiomio.com/">AxiomIO.com</a>
      </div>
</footer>