// input.ng-invalid{
//     border-right: 5px solid red;
// }
// textarea.ng-invalid{
//     border-right: 5px solid red;
// }
// .ng-valid{
//     border-right: 5px solid rgb(3, 215, 3);
// }

label{
    font-weight: bold
}
.gradient-custom {
    background: linear-gradient(to right, rgb(100, 138, 204),rgba(0, 0, 0, 1));
}

.linki{
    text-decoration: none;
}